<div class="panel panel-default">
  <div class="panel-heading">Cadastro de cliente</div>
  <div class="panel-body">
    <%= simple_form_for(@cliente) do |f| %>
      <%= render 'informacoes_de_cadastro', f: f %>
      <%= render 'informacoes_de_endereco', f: f %>
      <%= render 'submit', f: f %>
    <% end %>
  </div>
</div>
