<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-right">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Voltar', clientes_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
