<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Open NF-e - Emissor Gratuito de Nota Fiscal Eletrônica</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'bootstrap.min', :media=>"all" %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container" id="home">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/users/sign_in">Acessar</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Open NF-e</h3>
      </div>

      <div class="jumbotron">
        <h1>Emissor Gratuito de NF-e</h1>
        <p class="lead">Em 01/01/2017 o Emissor da Receita será descontinuado. Por isso resolvemos lançar uma versão gratuita e código aberto com as mesmas funcionalidades.</p>
        <p><a class="btn btn-lg btn-success" href="/users/sign_up" role="button">Criar conta</a></p>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Mainô Sistemas.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
